.App {
  text-align: center;
}

.App.light {
  background-color: #ffffff;
}
.App.dark {
  background-color: #252526;
  color: white;
}
.App.dark a {
  color: white;
}

.error {
  border: 1px solid orange;
  background-color: rgb(243, 183, 71);
  font-size: 1.5rem;
}
